<%- include("header") -%>
<%- include("nav") -%>




<div class="card-columns ">

    <div class="card text-white bg-dark my-2 mx-auto text-center title-card py-0">
        <form class="m-0 p-0" action="/new/list"  method="post" onsubmit=" return validInput()" >
        <div class="card-header  p-0 m-0">
            <input type="hidden" name="newListAuthor" id="hiddenAuthor" value ="">
            <input class=" py-0 m-0 w-100 " type="text" name="newListName" placeholder="New List title" autocomplete="off" id="inputTitle" required maxlength="20" >
        </div>
        <div class="card-body py-0">
            <button class="submit-btn m-0 py-1" type="submit"   >
                <img class="m-0 p-0" src="../svg/plus-circle.svg" width="50" id="plus-circle">
            </button>
        </div>
        </form>
    </div>

    <%  titleData.forEach(function(title){ %>
    <div class="card text-white bg-dark my-2  title-card py-0 ">
        <form action="/delete/list" method="POST">
        <div class="card-header ">
            <input type="hidden" name="listUrl" value = "<%= title.url %>" >
            <input type="hidden" name="listName" value = "<%= title.name %>" >
            <input type="hidden" name="listAuthor" value ="<%= title.author %>" id="listAuthor">
            <input  class="float-right inputItemDelete" type="checkbox" class="inputItemDelete" name="listId" value="<%= title._id %>" onChange="this.form.submit()" disabled >
            <%= title.name %>
        </div>
       </form>
        <div class="card-body text-center py-0">
            <button class="submit-btn m-0 py-1" type="submit" name="list" value="">
                <a href="/list/<%= title.url %>">
                    <img class="m-0 p-0" src="../svg/edit.svg" width="50" id="plus-circle">
                </a>
            </button>
        </div>
    </div>
    <%  }) %>
</div>

<script src="../views/js/user.js"></script>
<%- include("footer") -%>